.list {
    list-style-type: none;
}

.link:link, .link:visited, .link:active, .link:focus {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.link:hover {
    color: grey;
    font-size: 28px;
    
}
